.item {
	background: red;
	padding: 60px;
}
.item > .item {
	background: blue;
	padding: 60px;
}
.item2 {
	background: green;
	padding: 20px;
}

@media (min-width: 768px) {
	.item {
		background: rgb(223, 223, 223);
		padding: 60px;
	}
	.item2 {
		background: rgb(1, 223, 223);
		padding: 60px;
	}
}